@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* Fontes */

    --Alkatra: Alkatra;

    /* Paleta de Cores */
    --Vermelho: #f51441;
    --Vermelho_Claro: #e0846d;
    --Bege: #dbc092;
    --Ouro_Claro: #dbe7b4;
    --Azul: #d4f7dc;
}

body{
    background-color: #eee;
}

/* CABEÇALHO */

header{
    height: 10vh;
    background-color: var(--Vermelho);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--Vermelho_Claro);
    color: white;
    margin: 0px 5%;
}

nav div{
    margin: 0px 5px;
    display: inline;
    float: right;
}

.logo{
    font-family: var(--Alkatra);
    font-size: 3em;
    letter-spacing: .5px;
    margin: 0px;
    text-shadow: 2px 2px 2px var(--Vermelho_Claro);
    display: inline-block;
}

.icon-bell{
    font-size: 1.9em;
    text-shadow: 2px 2px 2px var(--Vermelho_Claro);
}

/* CONTEÚDO */

main{
    border-radius: 10px;
    padding: 3% 5% 5% 5%;
}

.pai{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.caixa_imagem_principal{
    display: inline-block;
    height: 100%;
}

.caixa_primeiro_p{
    display: inline-block;
    padding: 15px;
    text-align: center;
    font-size: 1.7rem;
}

.imagem_principal{
    height: 100%;
}

.separacao_vinho{
    background-color: var(--Azul);
    height: 5px;
    border: none;
    margin-bottom: 5%;
}

.agrupador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_vinho{
    width: 40%;
    height: 40%;
}

.paragrafo_vinho{
    font-size: 2em;
    text-align: center;
}

/* RODAPÉ */

.rodape{
    background-color: var(--Bege);
    margin: 0px 5%;
    padding: 20px;
}

.final{
    background-color: var(--Azul);
    margin: 0px 5%;
    padding: 10px 0px;
    text-align: center;
}

.final p{
    margin: 0px;
}

.lista-final{
    margin: 0px;
    padding: 0px 30px;
    list-style-type: none;
    font-size: .85em;
    display: inline-block;
}

.lista-final li a{
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(69, 69, 69);
}

/* PÁGINA COBRANÇAS */

.lista_btn_nav_cobrar{
    background-color: var(--Bege);
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.lista_btn_nav_cobrar li{
    display: inline;
}

.icones_cobrar{
    font-size: 1.6em;
    color: var(--Azul);
    cursor: pointer;
}

.lista_btn_nav_cobrar li input{
    display: inline-block;
    border-right: none;
    padding: 3px;
    border-color: var(--Azul);
}

.lista_btn_nav_cobrar li input:focus{
    outline: none;
    border-radius: none;
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.icon-search{
    border-right: 2px solid var(--Azul);
    border-top: 2px solid var(--Azul);
    border-bottom: 2px solid var(--Azul);
    padding: 4px;
    background-color: white;
    transform: translateY(1px);
    display: inline-block;
    cursor: pointer;
}

.nova_cobrança{
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--Vermelho);
    color: white;
    border-radius: 50%;
    font-size: 1.7em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cobrança{
    background-color: white;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #eee;
}

.cobrança p{
    display: inline-block;
}

.descriçao_nova_cobrança{
    display: block;
    margin: 10px 0px 50px 0px;
}

.salvar_nova_cobrança{
    position: absolute;
    left: 10px;
    bottom: 5px;
    background-color: var(--Vermelho);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.cancelar_nova_cobrança{
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: var(--Azul);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

/* Formulários */

input{
    display: block;
    margin: 5px 0px 20px 0px;
}

legend{
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
    display: block;
}

fieldset{
    border: none;
    position: relative;
}

form{
    position: relative;
}

/* CLASSES PADRÕES*/

.btn_Simples{
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
}

.btn_salvar_registro{
    display: inline-block;
    background-color: var(--Vermelho);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.btn_salvar_entrar{
    position: absolute;
    left: 10px;
    bottom: 5px;
    background-color: var(--Vermelho);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.btn_cancelar_registro{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--Azul);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.btn_cancelar_entrar{
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: var(--Azul);
    color: white;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.caixa_formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ce6b5d;
    border-radius: 10px;
    border: 2px solid var(--Azul);
}

.input_padrao{
    border: 2px solid var(--Azul);
    padding: 4px;
    font-size: .9em;
}

.input_padrao:focus{
    outline: none;
}

.ultimo_input{
    margin-bottom: 35px;
}

.nome_cobrança{
    margin-top: 5px;
    font-size: 2em;
    margin-bottom: 0px;
}

.numero_cobrança{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.2em;
    margin-left: 10px;
}

.valor_cobrança{
    margin: 0px;
    font-size: 1.4em;
    color: var(--Vermelho);
    text-shadow: 1px 1px 1px var(--Vermelho_Claro);
}

.descriçao_cobrança{
    margin: 10px 0px 5px 0px;
}

.icon-pencil{
    color: var(--Vermelho_Claro);
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    right: 11%;
    bottom: 20px;
}

.icon-bookmark{
    color: var(--Vermelho_Claro);
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    right: 7%;
    bottom: 20px;
}

.icon-bin{
    color: var(--Azul);
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    right: 3%;
    bottom: 20px;
}